<app-sidebar></app-sidebar>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <a href="/dashboard" class="text-decoration-none">
                    <h5 class="text" style="color: #949494;">
                      <i class="fa fa-tachometer" style="color: #c9c9c9; font-size: 15pt;" aria-hidden="true"></i> Dashboard&nbsp; &nbsp;
                    </h5>
                  </a>
                  <a href="/backlogDevelopment" class="text-decoration-none">
                    <h5 style="color: #949494;">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; &nbsp; View Application
                    </h5>
                </a>
            </div>

            <div class="container position-relative" id="main-container">
                <div class="container p-2 border rounded shadow mt-4 mb-4 bg-light">
                    <div class="d-flex justify-content-between border-bottom">
                        <h3 class="mx-2 mt-1">View Application</h3>
                    <button class="btn" style="border: none;" (click)="closeApplicationView()">
                      <i class="iconx fas fa-times fs-5"></i>
                    </button>
                  </div>

                  <form class="mx-2">
                    <div class="d-flex flex-row gap-5 justify-content-center mb-4">
                        <div style="width: 600px;">
                            <div class="form-group mt-2">
                                <label for="application_name" class="mb-1 fs-5"><b>Application Name</b></label>
                                <input type="text" name="application_name" class="form-control" id="application_name" [value]="viewApplication.application_name" disabled>
                            </div>

                            <div class="form-group mt-2" *ngIf="viewApplication.application_device">
                                <label for="application_device" class="mb-1 fs-5"><b>Application Device</b></label>
                                <input type="text" name="application_device" class="form-control" id="application_device" [value]="viewApplication.application_device" disabled>
                            </div>
                            <div class="form-group mt-2" *ngIf="!viewApplication.application_device">
                                <label for="application_device" class="mb-1 fs-5"><b>Application Device</b></label>
                                <input type="text" name="application_device" class="form-control" id="application_device" value="none" disabled>
                            </div>

                            <div class="form-group mt-2">
                                <label for="application_type" class="mb-1 fs-5"><b>Application Type</b></label>
                                <input type="text" name="application_type" class="form-control" id="application_type" [value]="viewApplication.application_type" disabled>
                            </div>
                            
                            <div class="form-group mt-2">
                                <label for="application_programming_language" class="mb-1 fs-5"><b>Application Programming Language</b></label>
                                <input type="text" name="application_programming_language" class="form-control" id="application_programming_language" [value]="viewApplication.application_programming_language" disabled>
                            </div>

                            <div class="form-group mt-2">
                                <label for="server" class="mb-1 fs-5"><b>Server</b></label>
                                <input type="text" name="server" class="form-control" id="server" [value]="viewApplication.server" disabled>
                            </div>
                        </div>

                        <div style="border-left:1px solid rgb(221, 221, 221);height: fit-content" class="my-4"></div>

                        <div style="width: 600px;">
                            <div class="form-group mt-2">
                                <label for="application_database" class="mb-1 fs-5"><b>Application Database</b></label>
                                <input type="text" name="application_database" class="form-control" id="application_database" [value]="viewApplication.application_database" disabled>
                            </div>
                            <div class="form-group mt-2">
                                <label for="application_server" class="mb-1 fs-5"><b>Application Server</b></label>
                                <input type="text" name="application_server" class="form-control" id="application_server" [value]="viewApplication.application_server" disabled>
                            </div>
                            <div class="form-group mt-2">
                                <label for="application_operating_system" class="mb-1 fs-5"><b>Application Operating System</b></label>
                                <input type="text" name="application_operating_system" class="form-control" id="application_operating_system" [value]="viewApplication.application_operating_system" disabled>
                            </div>

                            <div class="form-group mt-2">
                                <label for="application_short_dsc" class="mb-1 fs-5"><b>Application Short Description</b></label>
                                <textarea type="text" name="application_short_dsc" class="form-control" id="application_short_dsc" [value]="viewApplication.application_short_dsc" disabled></textarea>
                            </div>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </main>
    </div>
</div>